body {
    background-color:ivory;

}
/* header section with nav*/
.header {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
    padding-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: darkseagreen;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

h1 {
    display: inline-block;
    font-size: 50px;
}


.background-img {
    display: inline-block;
    margin-left: 80px;
    margin-right: 80px;
    width: 50%;
    height: 220px;   
    border-radius: 5%;
}

.navbar {
    display: inline-block;
    padding-right: 2px;
    margin-left: 20px;

} 

.navbar ul {
    list-style-type: none;
    float: right;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 5px;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    margin: 4px;
    padding: 5px;
    font-size: 25px;
    color:black;
}

.navbar li a:hover {
    background-color: seagreen;
}

/* beginning of main content section starting with rows*/
.row {
    margin-left: 15%;
    margin-right: 5%;
    width: 75%;
    flex-direction: row;
    padding-top: auto;
    display: flex;
    align-items: row;
}

/* Mixture of columns that share the same class and ones that identify in corresponding areas*/
.column {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 15px;
   }

   @media only screen and (max-width: 960px) {
/* For mobile phones: */
header, .row {
      width: 100%;
    }
  }

h2 {
    font-size: 35px;
}

.left {
    display: inline-block;
    flex-direction: column;
    width: 15%;
    border-right: solid black 3px; 
    padding-right: 40px;   
}

.middle {
    display: inline-block;
    width: 30%;
    margin-right: 40px;
    margin-left: 60px;
    padding: 5px;
}

.middle img {
    height: 400px;
}

@media only screen and (max-width: 960px) {
    .middle {}

    .middle img {
        width: 50px;
        height: 100px;
    }
}

.right {
    display: inline-block;
    width: 30%;
    margin-left: 40px;
    padding: 10px;
    text-align: justify;
    font-size: 22px;
    border: solid 3px;
    border-color: seagreen;
    }

.right h3 {
    text-align: center;
    }


.row .columns-2 {
    display: inline-block;
    width: 15%;
    height: auto;
    align-items: center;
    padding: 50px;
    margin: 10px;
    padding-top: 0;
}

div .columns-2 {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.columns-2 {
    justify-content: center;
    border: 3px solid;
    border-color: seagreen;
    padding: 0px;
    height: 20%;
}

/*The hover feature for the first column in my work section*/
#main-column:hover{
    box-shadow: 2px;
    height: 50%;
    width: 50%;
    display: overflow;
}

.columns-2 img {
    width: 100%;
    height: 50%;
}

.columns-2 h3 {
    text-align: center;
    font-size: 23px;
    padding: 0px;
}

.columns-2 p {
    font-size: 18px;
    display: block;
}

.contact ul {
    list-style-type: none;
    display: flex;
}

.contact ul li {
    display: inline-block;
    }

.contact ul li a {
    padding: 5px;
    margin: 5px;
}

li a img {
    padding-left: 40px;
    padding-right: 40px;
}

li h3 {
    padding-left: 40px;
    padding-right: 40px;
}